---
layout: default
---



<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <br><br><br><br><br><br><br><br><br><br><br><br>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "~~~~~~~~~~~~~~~" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
<hr>

  {%- if site.features.size > 0 -%}
    <ul class="post-list">
      {%- for feature in site.features -%}
      <li>
        {%- assign date_format = site.minema.date_format | default: "%b %-d, %Y" -%}
        <!--<span class="post-meta">{{ features.date | date: date_format }}</span>-->
        <h3>
          <a class="post-link" href="{{ feature.url | relative_url }}">
            {{ feature.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{feature.author}}
         <div class="feature-excerpt">{{ feature.summary }} </div>

        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>


  {%- endif -%}

 {%- if site.reviews.size > 0 -%}
    <ul class="post-list">
      {%- assign reviews = site.reviews | sort: 'date' | reverse -%}
      {%- for review in reviews -%}
      <li>
        <!--
          {%- assign date_format = site.minema.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ reviews.date | date: date_format }}</span>
        -->
        <h3>
          <a class="post-link" href="{{ review.url | relative_url }}">
            {{ review.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{review.author}}
         <div class="review-excerpt">{{ review.summary }} </div>

        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}


  {%- if site.interviews.size > 0 -%}
    <ul class="post-list">
      {%- for interview in site.interviews -%}
      <li>
        {%- assign date_format = site.minema.date_format | default: "%b %-d, %Y" -%}
        <!--<span class="post-meta">{{ interviews.date | date: date_format }}</span>-->
        <h3>
          <a class="post-link" href="{{ interview.url | relative_url }}">
            {{ interview.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{interview.author}}
         <div class="interview-summary">{{ interview.summary }} </div>

        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>


  {%- endif -%}

</div>
